/* 형철 */
body {
  font-family: Apercu,-apple-system,BlinkMacSystemFont,Segoe UI,'Roboto Mono', monospace,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #505050;
  background-color: #fff;
  letter-spacing: 0;
  box-sizing: border-box;
}
a{
  color: #212322;
  text-decoration: none;
}
/* HEADER */
.notice__banner{
  height: 60px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice__banner p {
  font-size: 14px;
  color: #505050;
}
.main__header {
  background-color: #fff;
  border-bottom: 1px solid #DBDBDB;
}
.main__header .header__bar {
  max-width: 1280px;
  padding: 0 80px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__bar .header__logo {
  margin: auto 0;
}
.header__bar .header__logo img {
  display: block;
  width: 106px;
  background-size: cover;
}

/* HEADER_SEARCH */
.header__bar .header_search{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__bar .header_search a:first-child{
  display: block;
  padding: 16px 36px 16px 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  border-right: 1px solid #e7e7e7;
}
.header_search .country-flag {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.header_search .country-flag .default-lang {
  cursor: pointer;
  margin-left: 25px;
}
.header_search .country-flag img {
  width: 23px;
}
.header_search .country-flag .material-icons {
  font-size: 18px;
  margin-left: 1px;
}
.header_search .country-flag .flag__list{
  display: none;
}
.header_search .sign-in.material-icons{
  font-size: 32px;
  margin-left: 20px;
}
.header_search .cart.material-icons{
  font-size: 26px;
  margin-top: 3px;
  margin-left: 25px;
  cursor: pointer;
}
.header_search .cart-log{
  display: none;
}

/* HEADER__MENU */
.header__navbox {
  max-width: 880px;
  padding: 0 30px;
  position: absolute;
  left: 185px;
}
.header__navbox .header__menu {
  display: flex;
  align-items: center;
  height: 100px;
}
.header__menu > li{
  color: #212322;
  font-size: 13px;
  font-weight: 700;
  margin-right: 27px;
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
}
.header__menu > li:first-child,
.header__menu > li:nth-child(2),
.header__menu > li:last-child{
  display: flex;
  align-items: center;
}

.header__menu .material-icons {
  font-size: 18px;
  margin-left: 1px;
  padding-top: 2px;
}
.header__menu .menu__items{
  display: none;
}
/* signboard */
.signboard {
  height: 650px;
  background-image: url("../assets/img/Endpoint-Soylent.jpg");
  background-repeat: stretch;
  background-size: cover;
  background-position: left;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.signboard .signboard__container {
  margin: 0 auto;
}
.signboard__container .signboard__box {
  width: 500px;
  height: 490px;
  border: 4px solid #212322;
  background-color: #B9E8A2;
  margin-right: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.98;
  box-sizing: border-box;
}
.signboard__box .signboard__items {
  padding: 73px 55px;
}
.signboard__box .signboard__items h1 {
  color: #212322;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}
.signboard__box .signboard__items p {
  color: #212322;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 50px;
}
.signboard__box .signboard__items .border--move{
  border: 2px solid #212322;
  width: max-content;
}
.signboard__box .signboard__items a {
  display: flex;
  align-items: center;
  width: 195px;
  height: 50px;
  box-sizing: border-box;
  background-color: #fff;
  padding-left: 22px;
}
.signboard__box .signboard__items a h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-right: 22px;
}
.signboard__box .signboard__items a img {
  display: block;
  width: auto;
}



/* 다현 */



/* 보미 */