/* 형철 */
body {
  font-family: Apercu,-apple-system,BlinkMacSystemFont,Segoe UI,'Roboto Mono', monospace,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212322;
  background-color: #fff;
  letter-spacing: 0;
  box-sizing: border-box;

  height: 1500px;
}
a{
  color: #212322;
  text-decoration: none;
}

/* HEADER */
.notice__banner{
  height: 60px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}
.notice__banner p {
  font-size: 14px;
  color: #505050;
}

/* MAIN HEADER */
.main__header {
  position: fixed;
  z-index: 3;
  width: 100%;
  top:60px;
  background-color: #fff;
  border-bottom: 1px solid #DBDBDB;
}
.main__header .header__bar {
  max-width: 1280px;
  padding: 0 80px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
}
.header__bar .header__logo {
  margin: auto 0;
}
.header__bar .header__logo img {
  display: block;
  width: 110px;
  background-size: cover;
}

/* HEADER_SEARCH (오른쪽 영역)*/
.header__bar .header_search{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__bar .header_search .header_search_link{
  display: block;
  padding: 16px 36px 16px 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  border-right: 1px solid #e7e7e7;
}
.header_search .header_search_link.mousedowneff{
  transition:color 0.3s;
  color: #58c223;
}
.header_search .country-flag {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.header_search .country-flag .default-lang {
  cursor: pointer;
  padding-top: 40px;
  padding-bottom: 35px;
}
.header_search .country-flag .default-lang img {
  width: 23px;
}
.header_search .country-flag .default-lang .material-icons {
  font-size: 18px;
  margin-left: 1px;
}

/* country-flag 리스트 */
.country-flag .flag__list{
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 8px;
  top: -60px;
  right:166px;
  z-index: -1;
  opacity: 0;
}
.country-flag:hover .flag__list {
  transition: .4s;
  top: 76px;
  z-index: 1;
  opacity: 1;
}
.country-flag .flag__list .flag__link{
  display: flex;
  width: 236px;
  height: 54px;
  background-color: #fff;
}
.flag__list li .flag__link .flag__item{
  width: 100%;
  height: 34px;
  margin: auto 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flag__list li .flag__link:hover .flag__item{
  background-color: rgba(156, 145, 123, .1);
}
.flag__list li .flag__link .flag__item p{
  font-size: 13px;
  font-weight: 400;
}
.flag__list li .flag__link:hover .flag__item p{
  color: #5dd620;
  text-decoration: underline;
}
.flag__list li .flag__link .flag__item img{
  display: block;
  width: 30px;
  padding: 10px 20px;
}
.header_search .sign-in.material-icons{
  font-size: 32px;
  padding: 20px 0;
  margin-left: 20px;
}
.header_search .cart.material-icons{
  font-size: 26px;
  padding: 20px 0;
  margin-top: 2px;
  margin-left: 25px;
  cursor: pointer;
}
.header_search .cart-log{
  display: none;
}

/* HEADER NAVBOX */
.header__navbox {
  max-width: 880px;
  padding: 0 110px;
  position: absolute;
  left: 190px;
}
.header__navbox .header__menu {
  display: flex;
  align-items: center;
}
.header__menu > li{
  margin-right: 28px;
  cursor: pointer;
  padding: auto 0;
}
.header__menu > li .menu__namae{
  color: #212322;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}
.header__menu > li .menu__namae.mousedowneff{
  transition:color 0.3s;
  color: #58c223;
}
.header__menu .material-icons {
  font-size: 18px;
  margin-left: 1px;
  padding-top: 2px;
}
.header__menu li:hover .material-icons {
  transform: rotate(180deg);
}
.header__menu > li:first-child:hover .menuitemname::after
{
  content: '';
  position: absolute;
  bottom: -1px;
  left: -18px;
  width: 94px;
  border-bottom: 3px solid #85BA13;
}
.header__menu > li:nth-child(2):hover .menuitemname::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: -14px;
  width: 108px;
  border-bottom: 3px solid #85BA13;
}
.header__menu > li:nth-child(3):hover .menuitemname::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: -14px;
  width: 62px;
  border-bottom: 3px solid #85BA13;
}
.header__menu > li:nth-child(4):hover .menuitemname::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: -12px;
  width: 68px;
  border-bottom: 3px solid #85BA13;
}
.header__menu > li:nth-child(5):hover .menuitemname::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: -14px;
  width: 88px;
  border-bottom: 3px solid #85BA13;
}
.header__menu > li:last-child:hover .menuitemname::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: -14px;
  width: 88px;
  border-bottom: 3px solid #85BA13;
}

/* Menu items */
.main__header .header__menu__items{
  max-width: 1280px;
  height: 370px;
  padding: 60px 80px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.header__menu__items .drink{
  display: flex;
  justify-content: flex-start;
}
.header__menu__items .drink ul{
  display: flex;
}
.header__menu__items .drink ul li a{
  display: flex;
  flex-direction: column;
  width: 270px;
}
.header__menu__items .drink > ul > li:nth-child(2) a,
.header__menu__items .drink > ul > li:nth-child(3) a{
  padding-left: 42px;
}
.header__menu__items .drink ul li img{
  width: 270px;
}
.header__menu__items .drink ul li h3{
  margin-top: 14px;
  transition: .3s;
}
.header__menu__items .drink ul li a:hover h3{
  color: #58c223;
}
.header__menu__items .drink ul li p{
  width: 250px;
  margin-top: 8px;
  font-weight: 400;
  color: #505050;
}
.header__menu__items .drink .listitems{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid #B5B5B5;
  margin-left: 42px;
}
.header__menu__items .drink .listitems li{
  margin-left: 38px;
  margin-bottom: 16px;
}
.drink .listitems li a{
  transition: .3s;
}
.drink .listitems li:first-child:hover a{
  color: #58c223;
}
.drink .listitems li:nth-child(2):hover a{
  color: #58c223;
}
.drink .listitems li:nth-child(3):hover a{
  color: #58c223;
}
.drink .listitems li:nth-child(4):hover a{
  color: #58c223;
}
.drink .listitems li:last-child:hover a{
  color: #58c223;
}



.header__menu__items .powder{
  display: none;
}
.header__menu__items .learn{
  display: none;
}

/* signboard */
.signboard {
  height: 650px;
  background-image: url("../assets/img/Endpoint-Soylent.jpg");
  background-repeat: stretch;
  background-size: cover;
  background-position: left;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.signboard .signboard__container {
  margin: 0 auto;
}
.signboard__container .signboard__box {
  width: 505px;
  height: 495px;
  border: 4px solid #212322;
  background-color: #B9E8A2;
  margin-right: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.98;
  box-sizing: border-box;
}
.signboard__box .signboard__items {
  padding: 73px 55px;
}
.signboard__box .signboard__items h1 {
  color: #212322;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}
.signboard__box .signboard__items p {
  color: #212322;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 45px;
}
.signboard__box .shopnow__items{
  margin-left: 3px;
  box-sizing: border-box;
}
.signboard__items .shopnow__items a {
  width: 190px;
  height: 52px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.border-move{
  position: absolute;
  border: 2px solid #212322;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  transition: width 0.4s,
              height 0.4s;
}
a:hover .border-move{
  width: 92%;
  height: 70%;
}
.shopnow__items a h3{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 22px;
}
.arrow-grow{
  position: absolute;
  top: 3px;
  left: 140px;
  width: 10px;
  height: 10px;
  margin-top: 18px;
}
.arrow-body{
  border-top: 2px solid transparent;
  position: absolute;
  top: 5px;
  left: 0;
  width: 34px;
  background: #212322;
  transition: .4s;
}
.arrow-body .arrow-head {
  border-top: 2px solid #212322;
  border-right: 2px solid #212322;
  width: 10px;
  height: 10px;
  top: -6px;
  left: 24px;
  position: absolute;
  transform: rotate(45deg);
  box-sizing: border-box;
  background: transparent;
  transition: .4s;
}
.shopnow__items a:hover .arrow-body{
  width : 80px
}
.shopnow__items a:hover .arrow-head{
  left: 70px;
}

/* 다현 */



/* 보미 */
