/* 형철 */
body {
  font-family: Apercu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #505050;
  background-color: #fff;
  letter-spacing: 0;
  box-sizing: border-box;
}
a{
  color: #212322;
  text-decoration: none;
}
/* HEADER */
.notice__banner{
  height: 60px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice__banner p {
  font-size: 14px;
  color: #505050;
}
.main__header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #DBDBDB;
}
.main__header .header__bar {
  max-width: 1280px;
  padding: 0 80px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.header__bar .header__logo {
  margin: auto 0;
}
.header__bar .header__logo img {
  display: block;
  width: 106px;
  background-size: cover;
}

/* HEADER_SEARCH */
.header__bar .header_search{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__bar .header_search a:first-child{
  display: block;
  padding: 16px 36px 16px 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  border-right: 1px solid #e7e7e7;
}
.header_search .country-flag {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.header_search .country-flag .default-lang {
  cursor: pointer;
  margin-left: 25px;
}
.header_search .country-flag img {
  width: 23px;
}
.header_search .country-flag .material-icons {
  font-size: 18px;
  margin-left: 1px;
}
.header_search .country-flag .flag__list{
  display: none;
}
.header_search .sign-in.material-icons{
  font-size: 32px;
  margin-left: 20px;
}
.header_search .cart.material-icons{
  font-size: 26px;
  margin-top: 3px;
  margin-left: 25px;
  cursor: pointer;
}
.header_search .cart-log{
  display: none;
}

/* HEADER__MENU */
.header__navbox {
  max-width: 880px;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 215px;
}
.header__navbox .header__menu {
  display: flex;
  align-items: center;
  height: 100px;
}
.header__menu > li{
  color: #212322;
  font-size: 13px;
  font-weight: 700;
  /* padding: 30px 0; */
  margin-right: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
}
.header__menu > li:first-child,
.header__menu > li:nth-child(2),
.header__menu > li:last-child{
  display: flex;
  align-items: center;
}

.header__menu .material-icons {
  font-size: 18px;
  margin-left: 1px;
  padding-top: 2px;
}
.header__menu .menu__items{
  display: none;
}




/* 다현 */



/* 보미 */